[submodule "src_cpp/opennn"]
	path = src_cpp/opennn
	url = https://github.com/Artelnics/opennn.git
[submodule "src_erl/rebar3"]
	path = src_erl/rebar3
	url = https://github.com/erlang/rebar3.git
[submodule "inputDataDir"]
	path = inputDataDir
	url = https://github.com/leondavi/NerlnetDataRepo.git
