/.idea
/src_cpp/.sconsign.dblite
/src_erl/*.beam
/lib/*.so
*.o
*.csv
*.orig
/src_py/.sconsign.dblite
/cmake-build-debug
/out
src_erl/.idea
src_cpp/.idea
src_cpp/*.so
*.dump
/*.iml
/src_erl/Communication_Layer/http_Nerlserver/input/
/src_erl/Communication_Layer/http_Nerlserver/_build/
/src_erl/Communication_Layer/http_Nerlserver/rebar.lock
/src_erl/erlBridge/erlModule.beam
/src_erl/erlBridge/handler.beam
/src_erl/erlBridge/nerlNetStatem.beam
/src_erl/erlBridge/parse.beam
/src_erl/erlBridge/startMod.beam
/src_py/__pycache__
/src_py/.ipynb_checkpoints
/src_py/NerlnetPyAPI/__pycache__
/src_py/NerlnetPyAPI/.ipynb_checkpoints
/.vscode
*.bin
*.cmake
*.out
*.log
/CMakeFiles
/build
*.make
/src_cpp/CMakeFiles
/src_cpp/Makefile
*.so
/src_cpp/opennnBridge/CMakeFiles
/src_cpp/opennnBridge/Makefile
/src_cpp/opennnBridge/\[binary_dir\]
