[submodule "src_cpp/opennn"]
	path = src_cpp/opennn
	url = https://github.com/Nerlnet/opennn_cnn.git
[submodule "src_erl/rebar3"]
	path = src_erl/rebar3
	url = https://github.com/erlang/rebar3.git
[submodule "simple-cpp-logger"]
	path = src_cpp/simple-cpp-logger
	url = https://github.com/nadrino/simple-cpp-logger
[submodule "nifpp"]
	path = src_cpp/nifpp
	url = https://github.com/goertzenator/nifpp.git
[submodule "src_cpp/SynapNIF"]
	path = src_cpp/SynapNIF
	url = https://github.com/leondavi/SynapNIF
