{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git" , {tag,"2.9.0"}}},
  	{jsx,	 {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}}
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [nerlNetServer]}
]}.
{extra_src_dirs, ["../../erlBridge"]}.
