amqp==5.0.6
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
backports.weakref==1.0.post1
billiard==3.6.4.0
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
celery>=5.2.2
certifi==2020.12.5
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clyent==1.2.2
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
Deprecated==1.2.13
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
future==0.18.2
gmpy2==2.0.8
h5py==2.10.0
HeapDict==1.0.1
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
kombu==5.2.2
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
olefile==0.46
pandas==1.2.4
parso==0.7.0
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pkginfo==1.7.0
ply==3.11
pycosat==0.6.3
pycurl==7.43.0.6
pyodbc===4.0.0-unsupported
pytest==6.2.3
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
redis==4.0.2
rq==1.10.0
scikit-image==0.18.1
scons==3.1.2
simplegeneric==0.8.1
sip==4.19.13
tables==3.6.1
terminado==0.9.4
tifffile==2020.10.1
unicodecsv==0.14.1
vine==5.0.0
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
