{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git" , {tag,"2.13.0"}}},
  	{jsx,	 {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}}
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [nerlnetApp]}
]}.
{base_dir, "/usr/local/lib/nerlnet-lib/NErlNet/build/rebar"}.
{relx, [{release, {nerlnetApp, "1.4.3"}, [nerlnetApp,cowboy,jsx,kernel,stdlib,inets]},
        {dev_mode, true},
        {include_erts, true},
        %{include_src, true},
        {extended_start_script, true},
        {include_src,["/usr/local/lib/nerlnet-lib/NErlNet/src_erl/NerlnetApp"]},
        {output_dir, ["/usr/local/lib/nerlnet-lib/NErlNet/build/rebar"]}]}.
{escript_incl_apps,[nerlnetApp]}.
{escript_name, nerlnetApp}.
{escript_main_app, nerlnetApp}.
{escript_emu_args, "%%! +sbtu +A0\n"}.