name: NerlnetInstall
on:
  pull_request:
    branches: [ master ]

env:
  RUNNING_IN_DOCKER: true

jobs:
  build:
    runs-on: ubuntu-latest
    container: leondavi/nerlnet:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install
        run: |
          ./NerlnetInstall.sh --torch
      - name: Install Python Torch dependency
        run: |
          python3 -m ensurepip --upgrade || true
          python3 -m pip install --upgrade pip
          python3 -m pip install torch==2.2.1 --extra-index-url https://download.pytorch.org/whl/cpu
      - name: Build
        id: build
        run: |
          ./NerlnetBuild.sh  --infra all
      - name: Run NIF unit tests
        id: nif
        if: steps.build.outcome == 'success'
        run: |
          ./tests/NerlnetNifTest.sh
        timeout-minutes: 15
      - name: Source NIF unit tests
        id: sourcenif
        if: steps.build.outcome == 'success'
        run: |
          ./tests/NerlnetSourceNifTest.sh
        timeout-minutes: 15
      - name: Torch NIF unit tests
        id: torchnif
        if: steps.nif.outcome == 'success'
        run: |
          ./tests/NerlnetNIFTorchTest.sh
        timeout-minutes: 15
      - name: Run FullFlow test
        id: fullflow
        if: steps.nif.outcome == 'success'
        run: |
          ./tests/NerlnetFullFlowTest.sh
        timeout-minutes: 20
      - name: Post FullFlow test
        id: fullflowpost
        if: steps.fullflow.outcome == 'success'
        run: |
          ./tests/NerlnetFullFlowTestPost.sh
        timeout-minutes: 5
      - name: Torch FullFlow test
        id: torchfullflow
        if: steps.fullflow.outcome == 'success'
        run: |
          ./tests/NerlnetFullFlowTorchTest.sh
        timeout-minutes: 20
      - name: Torch Post FullFlow test
        id: torchfullflowpost
        if: steps.torchfullflow.outcome == 'success'
        run: |
          ./tests/NerlnetFullFlowTorchTestPost.sh
        timeout-minutes: 5
